.keyboard {
    background-color: rgb(30, 30, 30);
    border: 1px solid whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 5px;
    height: 400px;
    width: 100%;
}